

.InfiniteCarousel {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.InfiniteCarouselSlide {
    width: 100%;
    margin: auto;
}

.InfiniteCarouselDots {
    margin: 0;
}


.container-image {
    display: block;
    margin-top: 50%;
    transform: translateY(-15%);
    bottom:initial;
}

.carrousel-img {
    transition: all 0.3s ease;
    height: auto;
    max-width: 200px;
    width: 100%;
    opacity: 0.6;
    margin-top: auto;
}

.carrousel-img:hover {
    cursor: pointer;
    -moz-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
    opacity: 1;
    color: white;
}

.InfiniteCarouselArrowIcon {
    border-right: solid #e4002b;
    border-bottom: solid #e4002b;
}


.InfiniteCarouselDotIcon {
    background-color: black;
    opacity: 0.5;
}

.InfiniteCarouselDotActiveIcon {
    background-color: red;
    filter: saturate(4);
}
