.container-art{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
}
.container-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.container-table table:first-child{
  margin-right: 25px;
}
@media screen and (max-width: 1044px){
  .container-table table:first-child{
    margin-right: 0px;
  }
}
.container-table div{
  width: 100%;
}
table{
  margin-top: 25px;
  margin-bottom: 25px;
  border-collapse: collapse;
  width: fit-content;
  display: block;
  table-layout: fixed;
  overflow-wrap: break-word;
}
table, th, td{
  display: block;
}
.container-table table tr{
  overflow-wrap: break-word;
}
.container-table table thead tr th{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  background-color: #e4002b;
  color: rgb(237, 237,248);
}
/*tbody tr:nth-child(1){
  border-top: 1px solid black;
}*/

.container-table table th, 
.container-table table td{
  padding: 12px 15px;
}
.container-table table tbody tr{
  display: flex;
}
.container-table table tbody td{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-wrap: break-word;
  font-size: 1.2rem;
}
.container-table table tbody tr td:last-child{
  width: 300px;
}
.container-table table tbody tr td:first-child{
  width: 150px;
}
.container-table table tbody tr:nth-child(even){
  background-color: #dfdfdf;
}
.container-table table tbody tr:last-of-type{
  border-bottom: 2px solid #e4002b;
}