nav {
  display: flex;
  background-color: #e4002b;
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 2px 10px black;
}
nav div {
  display: flex;
  align-items: center;
  width: 100%;
}
nav div img {
  user-select: none;
  height: auto;
  width: 9vh;
}
nav .logo-nav {
  justify-content: flex-start;
  margin-left: 30px;
}
nav div:last-child {
  justify-content: flex-end;
  margin-right: 30px;
}
nav div div {
  width: fit-content;
  margin-right: 3vw;
}
nav div select {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  border: none;
  width: 200px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(50, 50, 50);
  color: rgb(237, 237, 248);
}

nav button {
  width: 10vw;
  height: 7vh;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  background-color: rgb(50, 50, 50);
  color: rgb(237, 237, 248);
  font-size: large;
  font-weight: 500;
  border-radius: 10px;
}
